<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4>{{ object.date_invoice }}</h4>
<h4>{{ object.id_client }}</h4>
<h4>{{ object.id_waiter }}</h4>
<h4>{{ object.id_table }}</h4>


</body>
</html>