<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Listar facturas</h1>
    <form method="GET" >{% csrf_token %}
        <input type="text" id="kword" name="kword" placeholder="ingrese nombre">
         <button type="submit">consultar</button>
    </form>

    <ol>
      {% for item in object_list %}
        <li>
          fecha: {{ item.date_invoice}}

          </li>
           <li>
          cliente: {{ item.id_client}}

          </li>
           <li>
          mesero: {{ item.id_waiter}}

          </li>
            <li>
          mesa: {{ item.id_table}}

          </li>
      {% endfor %}
    </ol>



</body>
</html>