<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4>{{ object.name }}</h4>
<h4>{{ object.last_name }}</h4>
<h4>{{ object.observations }}</h4>

</body>
</html>