<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> detalle cliente </h1>
<h4>{{ object.first_name }}</h4>
<h4>{{ object.last_name }}</h4>


</body>
</html>