<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST"> {% csrf_token %}
    <div>
        {{ form.as_p }}
    </div>
    <button type="submit" class="primary button">crear</button>
</form>
</body>
</html>