<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>detalle orden </h1>
<h4>{{ object.quantity }}</h4>
<h4>{{ object.products }}</h4>
<h4>{{ object.invoices }}</h4>

</body>
</html>