<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Listar Ordenes </h1>
    <form method="GET" >{% csrf_token %}
        <input type="text" id="kword" name="kword" placeholder="ingrese nombre">
         <button type="submit">consultar</button>
    </form>
    <ol>
      {% for item in object_list %}
        <li>
          cantidad: {{ item.quantity}}

          </li>
           <li>
          producto: {{ item.products}}
          </li>
           <li>
          factura: {{ item.invoices}}
          </li>

      {% endfor %}
    </ol>



</body>
</html>