<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Listar Table </h1>
    <form method="GET" >{% csrf_token %}
        <input type="text" id="kword" name="kword" placeholder="ingrese nombre">
         <button type="submit">consultar</button>
    </form>

    <ol>
      {% for item in object_list %}
        <li>
          {{ item.number_diner}} {{ item.location}}
          </li>
      {% endfor %}
    </ol>



</body>
</html>